*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.background{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.mainDiv{
    
    width: 90vw;
    display: flex ;
    flex-direction: row;
    gap: 2rem;
    border: 1px solid  red;
    border-radius: 1rem;
    
}
.fieldContainer{
    display: flex ;
    flex-direction: column;
    gap: 1.25rem;
    padding-block: 3rem;
    padding-inline: 1rem;
    width: 22%;
    
    border-right: 1.5px solid red;
}
.fieldInfoBox{
    display: flex ;
    height: 100%;
    width: 66%;
    padding: 1rem;
    
}
.Heading{
    font: bolder;
    align-self: center;
    text-decoration: dotted;
}
.questionContainer{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    border: 1.25px solid rgb(255, 130, 130);
    padding-inline:2rem ;
    padding-block: 1rem;
    border-radius: 1rem;

}
.Heading{
  font: bolder;
  font-weight: 800;
   font-size: larger;
}
.questionHeading{
    display: flex ;
    gap: 1.75rem;
    font: bolder;
   font-size: medium;

}
.numberingOfQuestion{
  font: bold;
  text-decoration: dotted;

}
.question{
    font: 600;

}
.detailsOfQuestion{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}
.intention,.answer{
    display: flex ;
    gap: 1rem;
}
.header{
    font: 700;
    text-decoration: dotted;
}


.roadmapContainer{
    display: flex ;
    flex-direction: column;
    gap: 0.25rem;
}
.headerContainer{
    display: flex;
    gap: 2rem;
}
.tasklist{
    display: flex ;
    flex-direction: column;
    gap: 0.25rem;
}
.prepPlan{
    display: flex;
    flex-direction: column;
    
}
.Box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.skillGapContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 1rem;
     border-left: 1.5px solid red;
     padding-inline: 2rem;
}



