*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.background{
    display: flex;
    
    flex-direction: column;
    
    min-height: 100vh;
    
}
.mainDiv{
    
    max-width: 90vw;
    display: flex ;
    flex-direction: row;
    gap: 2rem;
    border: 1px solid  black;
    border-radius: 1rem;
    margin: 3rem auto;
   
   
    
}
.fieldContainer{
    display: flex ;
    flex-direction: column;
    gap: 1.25rem;
    padding-block: 1rem;
    padding-inline: 1rem;
    width: 22%;
    
    border-right: 1.5px solid black;
}
.fieldInfoBox{
    display: flex ;
    height: 100%;
    width: 66%;
    padding: 1rem;
    flex-direction: column;
    
}
.Heading{
    font: bolder;
    align-self: center;
    text-decoration: dotted;
}
.questionContainer{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    border: 1.25px solid black ;
    padding-inline:2rem ;
    padding-block: 1rem;
    border-radius: 1rem;

}
.Heading{
  font: bolder;
  font-weight: 800;
   font-size: larger;
}
.questionHeading{
    display: flex ;
    gap: 1.75rem;
    font: bolder;
   font-size: medium;

}
.numberingOfQuestion{
  font: bold;
  text-decoration: dotted;

}
.question{
    font: 600;

}
.detailsOfQuestion{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}
.intention,.answer{
    display: flex ;
    gap: 1rem;
}
.header{
    font: 700;
    text-decoration: dotted;
}


.roadmapContainer{
    display: flex ;
    flex-direction: column;
    gap: 0.25rem;
}
.headerContainer{
    display: flex;
    gap: 2rem;
}
.tasklist{
    display: flex ;
    flex-direction: column;
    gap: 0.25rem;
}
.prepPlan{
    display: flex;
    flex-direction: column;
    
}
.Box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.skillGapContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: 1rem;
     border-left: 1.5px solid black;
     padding-inline: 2rem;
}
.titleSkillGap,.Heading{
    background-color:rgb(65, 115, 255); 
    border: 1px solid black;
    border-radius: 1rem;
    padding-inline: 1rem;
    padding-block: 0.5rem;
}
.skills{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.skill{
    border: 3px solid rgb(198, 213, 255);
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    color: black;
}
.medium{
    background-color: rgb(253, 253, 166);
}
.low{
    background-color: rgb(8, 196, 39);
}
.high{
    background-color: rgb(250, 23, 23);
}




